body {
margin: 0 auto;
background: rgba(255, 255, 255, 0.0) !important;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
font-size: 16px;
color: #292822;
line-height: 1.5;
text-decoration: none;

}

.container {
display: flex;
-webkit-flex-direction: row;
   flex-direction: row;
-webkit-flex-flow: row wrap;
   flex-flow: row wrap;
flex-wrap: wrap;
justify-content:center;
position: relative;
margin: 0 auto;
width: 100%;
padding: 1% 1% 2% 1%;

}


.panel {
margin-bottom: 20px;
background-color: #fdeeff !important;

}

.leftbox {
  width: 100% !important;
  height: 100% !important;
  padding: 1% 2% 1% 2%;
  margin: 0 auto;
}


.video {

position: relative;
margin: 2% 2% 2% 2%;


}

.FaqBox {
  background: rgba(128, 128, 128, .1) !important;
  width: 100% !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%; 
  color: #485838 !important;
  cursor: pointer;
  font-size: 13.5px;
  line-height: 24px;
  margin: 0 auto;

}

.register {
display: flex;
flex-flow: row wrap;
flex-direction: row;
flex-wrap: wrap;
justify-content:flex-start;
position: relative;
width: 100% !important;
margin-top: 2%;
padding: 1% 0% 1% 0%;

}


.tbody {
  background: rgba(255, 255, 255, .5) !important;
  width: 100% !important;
  display: block;
  text-align:left;
  font-size: 14px;
  line-height: 30px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;

}


p {
  font-size: 15px;
  line-height: 25px;
}

.heading {
  font-family: 'Amatic SC', cursive;
  color: #485838;
  font-weight : bold;
  font-size: 30px;
  margin-bottom: 1%;

}


li {

margin: 0% 0% 0% 0%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    list-style: none !important;

}


.bodylist {
    text-align: left;
    font-size: 13px;
    list-style: none !important;

}

h2 {

    text-align: center;
    font-size: 21px;
    font-weight: bolder;

}

hr {
    height: 1px !important;
    background-color: rgba(168, 135, 93, .5) !important;
}


img {
padding: 1.5%  !important;
position: relative;

}


.navbar {

  border: 0px solid transparent;
  margin-bottom: 0% !important;

}

.nav navbar-nav, {
  font-size: 13px !important;
  font-weight: bold !important;
  line-height: 1 !important;
  margin-bottom: 2% !important;

}

.navbar-inverse .navbar-nav>li>a {

  border: 0px solid transparent;
  margin: 0 auto !important;

}

.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(255, 255, 255, 0.0) !important;
  border: 0px solid transparent;

}


.panel-heading {
  padding: 5px 15px;
  border-bottom: 0px solid transparent;
  color: white !important;
  text-align: center;
  font-size: 17px;

}


.headingtext {
  background-color: #772c50 !important;
  color: #f7f5b8 !important;
  text-align: center;
  font-size: 14px;
  padding: 1%;

}

.registerbutton {
   position: relative;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 1px 15px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   /*margin-right: 10%;*/
   font-size: 12px !important;
   line-height: 35px  !important;
   font-weight: bold !important;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
 
   }

.registerbutton:hover {
   border-top-color: #28597a;
   background-color: #28597a;
   color: #ccc

   }


.registerbutton:active {
   border-top-color: #1b435e;
   background-color: #1b435e;

   }



.table1 {
  background: rgba(255, 255, 255, .5) !important;
  width: 100% !important;
  font-size: 13px;
  line-height: 35px;
  border: 1px solid grey;
  padding: 2%;

  }

td {
  text-align:left !important;
  padding-left: 2% !important;
  margin-left: 4% !important;
}




@media (max-width: 750px) {
.container {
width: 100% !important;

  }

.FaqBox, .register {
margin-top: 0% !important;

}

}


@media (max-width: 600px) {
.FaqBox, .register,.container {
margin-top: 3% !important;

}

}

@media (max-width: 600px) {
.intensiveimg {
display: none;

}

.table1 {

  font-size: 10px;
  line-height: 25px;
  border: 1px solid grey;
  padding: 1%;

}

td {
  padding-left: 1% !important;
  margin-left: 1% !important;

}

}