html {
  height: 100%;
  background-color: #000;
}
body {
  margin: 0 auto;
  height: 100%;
  font-family: 'Amatic SC', cursive;
  background-color: #000;


}
/*
div {
  display: inline-block;
}*/
.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
  background-color: #000;
}
.menuBar {
  display: flex;
  justify-content: space-around;

}
/* styling for the navbar font */
li {
  font-family: 'Amatic SC',cursive;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 2em;
  padding-top: 4%;
  padding-bottom: 2%;

}


/* leftmenu and rightmenu refer to each side of the top bar menu */
.leftmenu {
  float: left!important;
}
/**** LOGO STYLING ****/
.logo {
  visibility: hidden;
  width: 12%;
  position: fixed;
  border: none;
  cursor: pointer;
  z-index: 2000;
}
/*REMOVE LOGO ON SMALLER THAN 1250px */
@media screen and (min-width: 1250px) {
    .logo {
        visibility: visible!important;
    }
}


/* main image styles and text styles*/

.row {
  margin: 0!important;
  padding: 0!important;

}

/*CENTER CONTENT PICTURE */
.main {
  width: 100%;
  background-image: url("https://static1.squarespace.com/static/542aae07e4b06868dcab2966/t/546eb682e4b0f8f6a10aadef/1416541826584/the+Hideout+Coffee+house?format=1000w");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  height: 80%;
}

/*VIDEO EDITING*/
.video_wrapper {
  opacity: 0.4;

}
.thevideo {
  object-fit: contain;
  display: block;
  width: 100%;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.bottomContainer {
  margin: 0 auto;
}

.mediaButton {
  font-family: 'Amatic SC', cursive;
  font-size: 190%;
  font-weight: 500;
}
.mediaAddress {
  font-family: 'Amatic SC', cursive;
  font-size: 190%;
  font-weight: 500;
}
#proud {
  display: block;
}
/* proudly serving content
.easyTiger {
  width: 70%;
  border-radius: 60%;
}
.amys {
  width: 95%;
  border-radius: 30%;
}
.katz {
  width: 83%;
  border-radius: 60%
}
*/
/**** MOBILE EDITING ***/

.mobileView {
  display: none;
  height: 45%;
}

#mobilesocial {

  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
#mobiletwitter, #mobilefacebook, #mobileinstagram, #mobiletripadvisor {
  width: 70px;
  padding: 5px;

}
#mobileaddress {
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 400;
  background-color: black;
}

@media screen and (max-width: 1365px) {
  .main {
    height: 60%;
  }
}
@media screen and (max-width: 767px) {
  .main {
    height: 40%;
  }
}
@media screen and (max-width: 570px) {

  #mobiletwitter, #mobilefacebook, #mobileinstagram, #mobiletripadvisor {
    width: 30px;
    flex: 0 0 50%;
  }
  #mobileaddress {
    font-size: 15px;
  }
}


    .mobileView {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }


    .mobileButton {
      display: inline-block;
      background-color: transparent;
    }
      .mobileView {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .bottomRow {
        background-image: url("http://images.all-free-download.com/images/graphiclarge/wood_grain_03_hd_pictures_168527.jpg");
      }
