body {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
}

p {
  font-size: 200%;
  width: 30%;
  height: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
/*nav bar logo logobo styles*/
.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: #fdeeff;
}

.rbar {
  font-weight: bolder;
  width: 45%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  padding-top: 25px;
}

.lbar {
  font-weight: bolder;
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  padding-top: 25px;
}

.nav {
  display: inline-block;
  text-align: center;
}

.navBtn {
  height: 10px;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 230%;
}

.logobox {
 margin: 0 auto;
 height: 22vh;
 width: 22vh;

}

.logo {

}
/* main image styles and text styles*/
.mainImage {
 height: 80vh;
 width: 100%;
 background-image: url("http://i.imgur.com/WfLA29P.jpg");
 background-size: cover;
}

.mainText {
  padding-top: 6%;
  margin-left: 6%;
  font-size: 15px;
  height: 60vh;
  width: 27%;
  box-sizing: border-box;
  color: white;
}

.mtext {
  font-size: 200%;
  width: 90%;
  height: 50%;
  margin: 0 auto;
}
/*bottom boder style8*/
.bottombar {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  background-color: #fdeeff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;

}

.leftm {
  height: 10vh;
  width: 35%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  justify-content: space-around;

}

.rightm {
  margin-left: 3%;
  height: 10vh;
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.ps{
width: 10vh;
height: 8vh;
font-size: 30px;
}

.ps1{
width: 8vh;
height: 8vh;
margin-top: 5px;
background-image: url("https://c1.staticflickr.com/5/4171/34457044831_60fc10daef_t.jpg");
background-size: contain;
background-repeat: no-repeat;
border-radius: 100%;
}

.ps2 {
width: 12vh;
height: 8vh;
margin-top: 9px;
background-image: url("https://mallimages.mallfinder.com/svc/storeimage.cfm?storeid=2137037859&newsize=400x400");
background-size: contain;
background-repeat: no-repeat;
}

.ps3 {
width: 8vh;
height: 8vh;
margin-top: 5px;
background-image: url("http://media.culturemap.com/crop/8b/7f/300x300/Katz-Coffee_101427.jpg");
background-size: contain;
background-repeat: no-repeat;
border-radius: 100%;
}

.add {
 text-align: center;
box-sizing: content-box;

}

h4 {
  text-align: center;
  position: relative;
  width: 25%;
  height: 5vh;
  font-size: 25px;
  margin-top: 17px;
  margin-left: 30px;
}

.media1 {
  margin-top: 18px;
  background-image: url("https://s3.amazonaws.com/store-product-images/icon-twitter-bird-circle-black-40x.png");
  width: 5vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.media2 {
  margin-top: 18px;
  background-image: url("https://s3.amazonaws.com/store-product-images/icon-facebook-circle-black-40x.png");
  width: 5vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;

}

.media3 {
  margin-top: 18px;
  background-image: url("http://www.championsboston.com/wp-content/uploads/2013/03/icon-instagram.png");
  width: 5vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
}

.media4 {
  margin-top: 18px;
  background-image: url("http://ffh-station.com/wp-content/uploads/2016/07/tripadvisor-circle-white-40px.png");
  width: 5vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
}

.media5 {
  width: 10vh;
  height: 10vh;
  font-size: 200%;
  text-align: center;
  margin-top: -2px;
}
